extends ../../layouts/layout-main/layout-main

block content
	main
		include ../../components/others/claim/claim
		include ../../components/others/process/process
		include ../../components/others/steps/steps
		include ../../components/others/news/news
		include ../../components/others/get-started/get-started



