extends ../../layouts/layout-main/layout-main

block content
	main
		include ../../components/others/claim/claim
		include ../../components/others/process/process
		include ../../components/others/steps/steps
		include ../../components/others/news/news
		include ../../components/others/get-started/get-started
		footer.main-footer
			.main-footer__row
				.main-footer__social
					include ../../components/others/social/social
				form.main-footer__form-join.form-join
					include ../../components/forms/form_join/form_join
			.main-footer__row
				.main-footer__contact
				.main-footer__nav.nav.nav_footer
					ul.nav__list
						li.nav__item
							a.nav__link(href="javascript:void(0)") Home
							a.nav__link(href="javascript:void(0)") FAQ
							a.nav__link(href="javascript:void(0)") about us
							a.nav__link(href="javascript:void(0)") call us
			.main-footer__row
				.main-footer__row
					.main-footer__logo-wrap
						img.main-footer__logo
					.main-footer__nav_privacy.nav.nav_privacy
						ul.nav__list
							li.nav__item
								a.nav__link(href="javascript:void(0)") Privacy
								a.nav__link(href="javascript:void(0)") Disclaimer
								a.nav__link(href="javascript:void(0)") Copyright 2017
				address.main-footer__addtess



