.news-post {
  width: 500px;
  margin-right: 40px;
  border-radius: 5px;

  .news-post__img-wrap {
    height: 250px;

    @media screen and (max-width: $media-desktop-sm) {
      height: 200px;
    }

    @media screen and (max-width: $media-desktop-xl) {
      height: 150px;
    }
  }

  .news-post__img {
    max-width: 100%;
  }

  .news-post__content {
    padding: 42px 30px 27px;
    border: 1px solid #deecec;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 20px 40px rgba(231, 244, 246, 0.9);

    @media screen and (max-width: $media-desktop-sm) {
      padding: 30px 20px;
    }

    @media screen and (max-width: $media-desktop-xl) {
      padding: 20px 15px;
    }
  }

  .news-post__title {
    margin-bottom: 15px;
    color: $color-title;
    font-size: 17px;
    font-weight: 700;
  }

  .news-post__text {
    height: 185px;
    overflow: hidden;
    color: $color-text;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
  }

  @media screen and (max-width: $media-desktop-sm) {
    width: 400px;
    margin: auto;
  }

  @media screen and (max-width: $media-desktop-xl) {
    width: 300px;
  }
}