.radio {
  flex: 0 0 calc(50% - 9px);
  max-width: calc(50% - 9px);
  cursor: pointer;

  .radio__hidden-field {
    display: none;
  }

  .radio__element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    border-radius: 5px;
    border: 1px solid #c5d8d8;
  }

  .radio__icon {
    width: 18px;
    height: 21px;
    margin-right: 15px;
  }
}