include ./mixin-header

//+header()
header.header.header_main
    .header__container.container
        .header__row.header__row_1
            .header__logo-wrap
                include ../../../components/others/logo/logo_header/logo_header
            .header__nav
                button.header__btn-nav
                    i
                    i
                    i
                include ../../../components/navs/nav_main/nav_main
            .header__apply
                button.button.button_accent Apply Now
        .header__row.header__row_2
            .header__content
                h2.header__title Have you ever worked in USA?
                h3.header__subtitle If you worked in USA on a holiday/work visa you may
                    | have thousands in unclaimed superannuation waiting!
            .header__img-wrap
                img.header__img(src='images/content/pic.png')