.nav.nav_footer {

  .nav__item {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav__link {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }
}