.social
    h2.social__title Connect with us on Social
    ul.social__list
        li.social__item
            a.social__link(src='javascript:void(0)')
                img.social__icon(src='images/content/Facebook.svg')