.social
    h2.social__title Connect with us on Social
    ul.social__list
        li.social__item
            a.social__link(href='javascript:void(0)')
                svg.social__svg(width='18', height='18', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewbox='0 0 18 18')
                    defs
                        path#Path-facebook(d='M253.85941,4296.87378c0,0.54438 -0.44125,0.98611 -0.98563,0.98611h-4.55108v-6.91638h2.32152l0.34783,-2.69562h-2.66935v-1.7207c0,-0.78033 0.21698,-1.31205 1.33589,-1.31205l1.42736,-0.00049v-2.41103c-0.24714,-0.03259 -1.09411,-0.10605 -2.07973,-0.10605c-2.05784,0 -3.46671,1.25611 -3.46671,3.56302v1.9873h-2.32735v2.69562h2.32735v6.91638h-8.55389c-0.54438,0 -0.98562,-0.44173 -0.98562,-0.98611v-15.88767c0,-0.54487 0.44124,-0.98611 0.98562,-0.98611h15.88816c0.54438,0 0.98563,0.44124 0.98563,0.98611v15.88767')
                    desc Generated with Avocode.
                    g(transform='matrix(1,0,0,1,-236,-4280)')
                        g
                            title Facebook
                            use.social__svg-fill(xlink:href='#Path-facebook', fill='#ffffff', fill-opacity='1')
        li.social__item
            a.social__link(href='javascript:void(0)')
                svg.social__svg(width='19', height='17', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewbox='0 0 19 17')
                    defs
                        path#Path-Linkedin(d='M284.15243,4286.13168h3.49784v11.08313h-3.49784zM297.2073,4286.02514c2.48594,0 4.43919,1.59279 4.43919,5.02286v6.15681h-3.96633v-5.73006c0,-1.49996 -0.62027,-2.52358 -1.98486,-2.52358c-1.04352,0 -1.62389,0.69068 -1.89389,1.35658c-0.10119,0.23914 -0.08563,0.57208 -0.08563,0.90503v5.99204h-3.92935c0,0 0.0506,-10.15022 0,-11.07323h3.92935v1.73812c0.23206,-0.76018 1.48768,-1.84456 3.49152,-1.84456M285.83665,4280.9c1.29065,0 2.08411,0.82751 2.1094,1.92114c0,1.07416 -0.81875,1.92454 -2.13373,1.92454h-0.02529c-1.26584,0 -2.08703,-0.84746 -2.08703,-1.92163c0,-1.09459 0.84503,-1.92405 2.13665,-1.92405')
                    desc Generated with Avocode.
                    g(transform='matrix(1,0,0,1,-283,-4281)')
                        g
                            title Linkedin
                            use.social__svg-fill(xlink:href='#Path-Linkedin', fill='#ffffff', fill-opacity='1')
        li.social__item
            a.social__link(href='javascript:void(0)')
                svg.social__svg(width='19', height='15', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewbox='0 0 19 15')
                    defs
                        path#Path-Twitter(d='M348.21784,4281.1807c-0.72292,0.43881 -1.52173,0.75795 -2.37552,0.92919c-0.6801,-0.74481 -1.6521,-1.20989 -2.72821,-1.20989c-2.0627,0 -3.7367,1.71632 -3.7367,3.83303c0,0.30065 0.0321,0.59205 0.09632,0.87275c-3.1067,-0.16005 -5.8607,-1.68421 -7.70546,-4.00621c-0.32205,0.56821 -0.50595,1.2274 -0.50595,1.9294c0,1.32908 0.65968,2.50249 1.6633,3.18989c-0.612,-0.01848 -1.18946,-0.19264 -1.69443,-0.47772v0.0467c0,1.85789 1.2887,3.40784 3.00016,3.75859c-0.3133,0.09 -0.64411,0.13525 -0.98513,0.13525c-0.24081,0 -0.47579,-0.02336 -0.70346,-0.06811c0.47578,1.52221 1.85546,2.63092 3.49151,2.66059c-1.27897,1.02843 -2.89168,1.64141 -4.64254,1.64141c-0.30162,0 -0.59984,-0.01752 -0.89173,-0.05254c1.65405,1.08583 3.61995,1.7207 5.73032,1.7207c6.87649,0 10.63557,-5.83978 10.63557,-10.90557c0,-0.16686 -0.00292,-0.33324 -0.00924,-0.4967c0.73021,-0.54049 1.36459,-1.21524 1.86373,-1.98389c-0.66941,0.30454 -1.39038,0.51081 -2.14638,0.60324c0.77205,-0.47384 1.36459,-1.22497 1.64384,-2.12011')
                    desc Generated with Avocode.
                    g(transform='matrix(1,0,0,1,-330,-4281)')
                        g
                            title Twitter
                            use.social__svg-fill(xlink:href='#Path-Twitter', fill='#ffffff', fill-opacity='1')
        li.social__item
            a.social__link(href='javascript:void(0)')
                svg.social__svg(width='18', height='18', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewbox='0 0 18 18')
                    defs
                        path#Path-Instagram(d='M393.80649,4296.15401h-13.37692c-0.30795,0 -0.55752,-0.24977 -0.55752,-0.55688v-8.35139h2.22957c-0.29043,0.41742 -0.3887,1.19639 -0.3887,1.69107c0,2.98125 2.43438,5.40707 5.42578,5.40707c2.99189,0 5.42627,-2.42582 5.42627,-5.40707c0,-0.49468 -0.07054,-1.26198 -0.43054,-1.69107h2.22957v8.35139c0,0.30712 -0.24957,0.55688 -0.55751,0.55688zM390.56892,4288.9387c0,1.89 -1.53584,3.42195 -3.43022,3.42195c-1.89389,0 -3.42973,-1.53195 -3.42973,-3.42195c0,-1.88951 1.53584,-3.42194 3.42973,-3.42194c1.89438,0 3.43022,1.53243 3.43022,3.42194zM391.57692,4282.22957h1.67205c0.30795,0 0.55752,0.24957 0.55752,0.55702v1.67206c0,0.30794 -0.24957,0.55751 -0.55752,0.55751h-1.67205c-0.30746,0 -0.55703,-0.24957 -0.55703,-0.55751v-1.67206c0,-0.30745 0.24957,-0.55702 0.55703,-0.55702zM380.32011,4280c-1.17097,0 -2.12011,0.9467 -2.12011,2.11524v13.60557c0,1.16805 0.94914,2.11524 2.12011,2.11524h13.59584c1.17097,0 2.1201,-0.94719 2.1201,-2.11524v-13.60557c0,-1.16854 -0.94913,-2.11524 -2.1201,-2.11524z')
                    desc Generated with Avocode.
                    g(transform='matrix(1,0,0,1,-378,-4280)')
                        g
                            title Instagram
                            use.social__svg-fill(xlink:href='#Path-Instagram', fill='#ffffff', fill-opacity='1')