.steps {
  max-width: 860px;
  padding: 100px 15px;
  margin: 0 auto;

  .steps__title {
    margin-bottom: 11px;
    color: $color-title;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
  }

  .steps__subtitle {
    margin-bottom: 34px;
    color: $color-text;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }

  @media screen and (max-width: $media-desktop-md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}