section.news
    header.news__header
        .news__container
            h2.news__title What is Superannuation?
            h3.news__subtitle Superannuation is an employer contribution (usually 9.5% of your salary) that is put aside into a superannuation fund to be accessed
                | during retirement. If you are not an Australian citizen and have worked in Australia for any period of time then you may
                | have unclaimed superannuation that can be paid out to you in a lump sum.
    include ../../../components/others/slider/slider_news/slider_news