.tab
    .tab__nav
        button.tab__btn Step 1
        button.tab__btn Step 2
        button.tab__btn Step 3
        button.tab__btn Step 4
        button.tab__btn Step 5
    .tab__container
        .tab__block
            .tab__icon-wrap
                img.tab__icon(src='images/content/enquire.svg')
            .tab__content
                h3.tab__title Enquire
                p.tab__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    |    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    |    aliquip ex ea commodo consequat.
        .tab__block
            .tab__icon-wrap
                img.tab__icon(src='images/content/enquire.svg')
            .tab__content
                h3.tab__title Enquire
                p.tab__text    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    |    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    |    aliquip ex ea commodo consequat.
        .tab__block
            .tab__icon-wrap
                img.tab__icon(src='images/content/enquire.svg')
            .tab__content
                h3.tab__title Enquire
                p.tab__text    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    | aliquip ex ea commodo consequat.
        .tab__block
            .tab__icon-wrap
                img.tab__icon(src='images/content/enquire.svg')
            .tab__content
                h3.tab__title Enquire
                p.tab__text    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    | aliquip ex ea commodo consequat.
        .tab__block
            .tab__icon-wrap
                img.tab__icon(src='images/content/enquire.svg')
            .tab__content
                h3.tab__title Enquire
                p.tab__text    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    | labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    | aliquip ex ea commodo consequat.