@font-face {
  font-family: "Montserrat-Regular";
  src : url("../fonts/Montserrat-Regular.woff2"), url("../fonts/Montserrat-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Medium";
  src : url("../fonts/Montserrat-Medium.woff2"), url("../fonts/Montserrat-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat_Bold";
  src : url("../fonts/Montserrat-Bold.woff2"), url("../fonts/Montserrat-Bold.woff");
  font-weight: 700;
}