.logo{
  display: flex;
  align-items: center;

  .logo__svg-fill {
    fill: #fff;
  }

  .logo__text {
    margin-left: 15px;
    color: #fff;
    font-size: 19px;
    letter-spacing: 0.69px;
    font-family: $font-regular;
  }
}