.footer.footer_main {
  background-color: $color-blue-dark;
  padding-bottom: 120px;

  .footer__social {
    position: relative;
    top: -120px;

    @media screen and (max-width: $media-desktop-md) {
      top: -70px;
    }
  }

  .footer__container {
    max-width: 1060px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .footer__row-1 {
    display: flex;

    @media screen and (max-width: $media-desktop-sm) {
      display: block;
    }
  }

  .footer__row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
    padding-bottom: 32px;
    border-bottom: 1px solid $color-border;

    @media screen and (max-width: $media-desktop-xl) {
      display: block;
    }
  }

  .footer__row-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;

    @media screen and (max-width: $media-desktop-xl) {
      display: block;
    }
  }

  .footer__row-4 {
    display: flex;
    margin-top: 16px;

    @media screen and (max-width: $media-desktop-xl) {
      display: block;
    }
  }

  .footer__contact {
    display: flex;

    @media screen and (max-width: $media-desktop-md) {
      display: block;
    }

    @media screen and (max-width: $media-desktop-xl) {
      margin: 30px 0;
    }
  }

  .footer__contact-item {
    margin-right: 25px;
    display: flex;

    @media screen and (max-width: $media-desktop-md) {
      margin: 10px 0;
    }

    @media screen and (max-width: $media-desktop-sm) {
      display: block;
    }

  }

  .footer__contact-title {
    margin-right: 6px;
    font-size: 16px;
    font-weight: 500;
  }

  .footer__contact-elem {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }

  .footer__adress {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;

    &:last-child {
      margin-right: 0;
    }
  }


  .footer__form-join {
    margin-top: 28px;
    margin-left: 60px;

    @media screen and (max-width: $media-desktop-sm) {
      margin-top: -30px;
    }

    @media screen and (max-width: $media-desktop-xl) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: $media-desktop-md) {
    padding-bottom: 50px;
  }

  @media screen and (max-width: $media-desktop-xl) {
    .footer__logo {
      margin-bottom: 20px;
    }
  }
}