nav.nav
    ul.nav__list
        li.nav__item
            a.nav__link(href="javascript:void(0)") Home
            a.nav__link(href="javascript:void(0)") FAQ
            a.nav__link(href="javascript:void(0)") about us
            a.nav__link(href="javascript:void(0)") call us