section.process
    .process__container
        header.process__header
            h2.process__title The Process
            include ../../../components/others/logo/logo_process/logo_process
        ul.process__list
            li.process__item
                .process__step.process__step_active
                    .process__icon-wrap.process__icon-wrap_active
                        svg.process__svg(width='18', height='23', xmlns='http://www.w3.org/2000/svg', version='1.1', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:avocode='https://avocode.com/', viewbox='0 0 18 23')
                            defs
                                path#Path-0(d='M758.3853,1423.48906c0.06805,0.06789 0.11813,0.14782 0.15281,0.2334h-4.68732v-4.6756c0.08696,0.03284 0.16755,0.08101 0.23213,0.14902zM753.17432,1425.08539h5.41392v16.23814c0,0.37205 -0.30442,0.67647 -0.67648,0.67647h-16.23529c-0.37882,0 -0.67647,-0.30442 -0.67647,-0.67647v-21.64706c0,-0.37882 0.29765,-0.67647 0.67647,-0.67647h10.82138v5.40892c0,0.37357 0.30257,0.67647 0.67647,0.67647zM755.20374,1436.60554c0,-0.37358 -0.30257,-0.67648 -0.67648,-0.67648h-9.47058c-0.37391,0 -0.67647,0.3029 -0.67647,0.67648c0,0.37357 0.30256,0.67647 0.67647,0.67647h9.47058c0.37391,0 0.67648,-0.3029 0.67648,-0.67647zM755.20374,1432.54671c0,-0.37358 -0.30257,-0.67647 -0.67648,-0.67647h-9.47058c-0.37391,0 -0.67647,0.30289 -0.67647,0.67647c0,0.37358 0.30256,0.67647 0.67647,0.67647h9.47058c0.37391,0 0.67648,-0.30289 0.67648,-0.67647zM754.52726,1427.81142h-9.47058c-0.37391,0 -0.67647,0.30289 -0.67647,0.67647c0,0.37358 0.30256,0.67647 0.67647,0.67647h9.47058c0.37391,0 0.67648,-0.30289 0.67648,-0.67647c0,-0.37358 -0.30257,-0.67647 -0.67648,-0.67647z')
                            desc Generated with Avocode.
                            g(transform='matrix(1,0,0,1,-741,-1419)')
                                g
                                    title apply
                                    use.process__svg-fill(xlink:href='#Path-0', fill='#ffffff', fill-opacity='1')
                    .process__step-content
                        h3.process__step-title Apply
                        p.process__step-text You fill in our free application form, provide us with authority to act on
                            | your behalf to track your superannuation down and specify the payment details of where you’d like the refund deposited.
            li.process__item
                .process__step
                    .process__icon-wrap
                        svg.process__svg(width="25" height="23" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewbox="0 0 25 23")
                            defs
                                path#Path-1(d="M750.5,1616.75l-7.34732,3.86271l1.40322,-8.18135l-5.94411,-5.79407l8.21455,-1.19365l3.67366,-7.44364l3.67366,7.44364l8.21455,1.19365l-5.94411,5.79407l1.40322,8.18135z")
                            desc Generated with Avocode.
                            g(transform="matrix(1,0,0,1,-738,-1598)")
                                g
                                    title Star
                                    use.process__svg-fill(xlink:href="#Path-1" fill="#b9cece" fill-opacity="1")
                    .process__step-content.process__step-content_left
                            h3.process__step-title Review
                            p.process__step-text Annuacion will track down any missing information for you, submit your claim to the Australian Tax Office
                                | and relay any additional requirements to you through your annuacion account.
            li.process__item
                .process__step
                    .process__icon-wrap
                        svg.process__svg(width="24" height="20" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewbox="0 0 24 20")
                            defs
                                path#Path-3(d="M760.17687,1791.50014v5.6517c0,0 0,1.84816 -1.84816,1.84816h-18.48055c-1.02013,0 -1.84816,-0.82857 -1.84816,-1.84816v-16.30395c0,-1.01959 0.82803,-1.84789 1.84816,-1.84789h18.48082c1.84816,0 1.84816,1.84789 1.84816,1.84789v1.45987h-5.46993c-0.03075,0 -0.06122,0.00108 -0.09088,0.00299h-1.29524c-1.76925,0 -3.20871,1.43945 -3.20871,3.20843v2.77225c0,1.76925 1.43946,3.20871 3.20871,3.20871zM761.56674,1784.26639v5.27456c0,0 -0.00326,0.57524 -0.57199,0.59483v0.00381h-7.67182c-1.02115,0 -1.84999,-0.82857 -1.84999,-1.84816v-2.77225c0,-1.01986 0.82884,-1.84789 1.84999,-1.84789h1.35836c0.0098,-0.00054 0.01879,-0.00299 0.02887,-0.00299h6.25763c0.00844,0 0.01443,0.00272 0.0226,0.00299h0.00436v0.00055c0.56845,0.01959 0.57172,0.59455 0.57199,0.59455zM755.13878,1786.90531c0,-0.5766 -0.4683,-1.0449 -1.0449,-1.0449c-0.57715,0 -1.04517,0.46803 -1.04517,1.0449c0,0.57714 0.46802,1.04517 1.04517,1.04517c0.5766,0 1.0449,-0.4683 1.0449,-1.04517z")
                            desc Generated with Avocode.
                            g(transform="matrix(1,0,0,1,-738,-1779)")
                                g
                                    title estimate
                                    use.process__svg-fill(xlink:href="#Path-3" fill="#b9cece" fill-opacity="1")
                    .process__step-content
                            h3.process__step-title Estimate
                            p.process__step-text One a refund estimate has been provided to us by the USA Tax Office we will notify you of the details of your return minus any associated fees.
            li.process__item
                .process__step
                    .process__icon-wrap
                        svg.process__svg(width="24" height="25" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewbox="0 0 24 25")
                            defs
                                path#Path-4(d="M749.56747,1964.21926c-0.46278,0 -0.83794,0.3746 -0.83794,0.83669v0.56119c-1.5124,0.33672 -2.45509,1.35452 -2.45509,2.68097c0,1.65042 1.44086,2.34681 2.69523,2.7677c1.04233,0.35202 1.44853,0.67088 1.44853,1.13769c0,0.46681 -0.47263,0.76526 -1.26204,0.76526c-0.52154,0.00005 -1.0395,-0.08614 -1.53283,-0.25508c-0.10277,-0.03526 -0.21067,-0.05336 -0.31934,-0.05357c-0.4334,-0.00125 -0.81274,0.29044 -0.92226,0.70914l-0.01788,0.06888c-0.12657,0.49893 0.15946,1.00964 0.65145,1.16319c0.53295,0.16878 1.08464,0.27158 1.64268,0.30611v0.53568c0,0.46209 0.37517,0.83669 0.83795,0.83669c0.46279,0 0.83795,-0.3746 0.83795,-0.83669v-0.66067c1.56093,-0.31121 2.58282,-1.39533 2.58282,-2.78301c0,-1.38767 -0.76641,-2.20395 -2.51129,-2.82382c-1.23393,-0.46426 -1.6529,-0.7474 -1.6529,-1.12238c0,-0.43365 0.40619,-0.68108 1.11897,-0.68108c0.42209,-0.00176 0.84214,0.0584 1.24671,0.17856c0.08297,0.02446 0.16895,0.03734 0.25546,0.03826c0.48909,0.00733 0.90643,-0.35163 0.97158,-0.83568c0.06516,-0.48405 -0.24245,-0.9403 -0.71611,-1.06217c-0.40146,-0.10344 -0.81224,-0.16667 -1.22627,-0.18877v-0.44385c0,-0.46109 -0.3736,-0.83528 -0.8354,-0.83669zM741.36318,1965.67326c0.25122,-0.44116 0.17409,-0.99522 -0.18817,-1.35174c-0.36226,-0.35652 -0.91965,-0.42692 -1.35985,-0.17175c-0.44021,0.25517 -0.65387,0.77251 -0.52126,1.26215c0.13261,0.48963 0.57854,0.82992 1.08793,0.83019c0.40601,-0.00032 0.78065,-0.21748 0.98135,-0.56885zM742.09354,1961.38646c-0.47823,0.39833 -0.54443,1.11063 -0.14788,1.59099c0.39656,0.48037 1.10572,0.54689 1.58398,0.14859c0.47826,-0.39829 0.54452,-1.11058 0.148,-1.59098c-0.18674,-0.23473 -0.45904,-0.3849 -0.75646,-0.41713c-0.29743,-0.03222 -0.59535,0.05614 -0.82764,0.24546zM738.94831,1969.80313c0.06099,0.00685 0.12251,0.00771 0.18367,0.00255c0.60409,-0.00373 1.09739,-0.48393 1.11737,-1.08771c0.01998,-0.60378 -0.44049,-1.11554 -1.04302,-1.1592c-0.60253,-0.04366 -1.13197,0.39637 -1.19924,0.99672c-0.06728,0.60035 0.35163,1.14665 0.94888,1.23744zM740.31303,1972.23921c-0.06357,-0.41001 -0.34768,-0.75175 -0.73919,-0.88912c-0.39152,-0.13738 -0.82686,-0.04809 -1.13269,0.23231c-0.30583,0.2804 -0.43248,0.70638 -0.32952,1.10832c1.23596,6.007 6.91485,10.02917 12.99158,9.20149c6.07673,-0.82767 10.47304,-6.22212 10.05743,-12.34086c-0.41562,-6.11874 -5.50101,-10.86914 -11.63385,-10.86748c-0.09489,0.00157 -0.18919,0.01529 -0.28059,0.04081v-1.03566c-0.00085,-0.25825 -0.14557,-0.49449 -0.37526,-0.61255c-0.22968,-0.11806 -0.50602,-0.09825 -0.71652,0.05136l-3.20135,2.29579c-0.1816,0.12921 -0.28946,0.33831 -0.28946,0.56119c0,0.22288 0.10786,0.43199 0.28946,0.56119l3.20135,2.29579c0.2105,0.14962 0.48684,0.16943 0.71652,0.05136c0.22969,-0.11806 0.37441,-0.3543 0.37526,-0.61255v-1.38513c0.09142,0.02547 0.18571,0.03919 0.28059,0.04082c5.19569,0 9.40763,4.21194 9.40763,9.40762c0,5.19569 -4.21194,9.40763 -9.40763,9.40763c-4.46058,-0.01224 -8.30357,-3.14558 -9.21376,-7.51233z")
                            desc Generated with Avocode.
                            g(transform="matrix(1,0,0,1,-738,-1957)")
                                g
                                    title refund
                                    use.process__svg-fill(xlink:href="#Path-4" fill="#b9cece" fill-opacity="1")
                    .process__step-content.process__step-content_center
                            h3.process__step-title Refund
                            p.process__step-text Within 8-12 weeks (usually) you will receive the sum of your refund into your nominated bank account minus our commission.