section.process
    .process__container
        header.process__header
            h2.process__title The Process
            include ../../../components/others/logo/logo_process/logo_process
        ul.process__list
            li.process__item
                .process__step
                    .process__icon-wrap.process__icon-wrap_active
                        img.process__icon(src='images/content/ic-apply.svg')
                    .process__step-content
                        h3.process__step-title Apply
                        p.process__step-text You fill in our free application form, provide us with authority to act on
                            | your behalf to track your superannuation down and specify the payment details of where you’d like the refund deposited.
            li.process__item
                .process__step
                    .process__icon-wrap
                        img.process__icon(src='images/content/ic-star.svg')
                    .process__step-content.process__step-content_left
                        h3.process__step-title Apply
                        p.process__step-text You fill in our free application form, provide us with authority to act on
                            | your behalf to track your superannuation down and specify the payment details of where you’d like the refund deposited.
            li.process__item
                .process__step
                    .process__icon-wrap
                        img.process__icon(src='images/content/ic-estimate.svg')
                    .process__step-content
                        h3.process__step-title Apply
                        p.process__step-text You fill in our free application form, provide us with authority to act on
                            | your behalf to track your superannuation down and specify the payment details of where you’d like the refund deposited.
            li.process__item
                .process__step
                    .process__icon-wrap
                        img.process__icon(src='images/content/ic-refund.svg')
                    .process__step-content.process__step-content_center
                        h3.process__step-title Apply
                        p.process__step-text You fill in our free application form, provide us with authority to act on
                            | your behalf to track your superannuation down and specify the payment details of where you’d like the refund deposited.