form.form.form_join
    .form__row
        h3.form__title Join our newsletter
    .form__row-1
        .form__field
            input.form__inp(type='text', name='params[Your email address]', placeholder='Your email address', required)
        .form__field
            input.form__button.button.button_accent(type='submit' value='go')
