article.news-post
    .news-post__img-wrap
        img.news-post__img(src='images/content/photo_1.png')
    .news-post__content
        h3.news-post__title Why choose BackPay to locate my superannuation?
        p.news-post__text Reclaiming your lost superannuation can be a tricky process, your super may be spread amongst several funds
            | and you may not have immediate access to the information required to track them down. BackPay simplifies this process to collect
            | only the very basic information required and assists in locating things such as your Australian Tax File Number which can easily be misplaced.