.get-started {
  max-width: 1030px;
  padding: 35px 30px 42px;
  margin: 0 auto 200px;
  border: 1px solid #deecec;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(231, 244, 246, 0.9);

  .get-started__title {
    text-align: center;
  }

  .get-started__form {
    margin-top: 19px;
  }

  @media screen and (max-width: $media-desktop-lg) {
    max-width: 970px;
    padding: 30px 20px;
  }

  @media screen and (max-width: $media-desktop-md) {
    max-width: 740px;
    padding: 30px;
  }

  @media screen and (max-width: $media-desktop-sm) {
    max-width: 560px;
  }

  @media screen and (max-width: $media-desktop-xl) {
    max-width: 300px;
    padding: 20px 10px;
  }
}