.nav.nav_privacy {
  .nav__item {
    display: inline-block;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: $media-desktop-xl) {
      margin-right: 0;
    }
  }

  .nav__link {
    color: #989ca3;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }

  @media screen and (max-width: $media-desktop-xl) {
    .nav__list {
      display: flex;
      justify-content: space-around;
    }
  }
}