.slider.slider_news {
  margin-top: -250px;

  .slider__list {
    display: flex;
    list-style: none;
  }

  .swiper-slide {
    min-width: 500px;

    @media screen and (max-width: $media-desktop-sm) {
      min-width: 400px;
    }

    @media screen and (max-width: $media-desktop-xl) {
      min-width: initial;
    }
  }

  .slider__container {
    padding-bottom: 50px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }
  }

  @media screen and (max-width: $media-desktop-sm) {
    margin-top: -200px;
  }

  @media screen and (max-width: $media-desktop-xl) {
    margin-top: -150px;
  }
}