.slider.slider_news
    <!-- Swiper -->
    .slider__container.swiper-container
        ul.slider__list.swiper-wrapper
            li.slider__item.swiper-slide
                include ../../news-post/news-post
            li.slider__item.swiper-slide
                include ../../news-post/news-post
            li.slider__item.swiper-slide
                include ../../news-post/news-post
            li.slider__item.swiper-slide
                include ../../news-post/news-post
            li.slider__item.swiper-slide
                include ../../news-post/news-post
            li.slider__item.swiper-slide
                include ../../news-post/news-post
        <!-- Add Arrows -->
        .swiper-button-next
        .swiper-button-prev
            <!-- Add Pagination -->
        .swiper-pagination