nav.nav.nav_main
    button.nav__btn
        span.nav__btn-item
        span.nav__btn-item
    ul.nav__list
        li.nav__item
            a.nav__link(href="javascript:void(0)") Home
        li.nav__item
            a.nav__link(href="javascript:void(0)") FAQ
        li.nav__item
            a.nav__link(href="javascript:void(0)") about us
        li.nav__item
            a.nav__link(href="javascript:void(0)") call us