.nav.nav_main {

  .nav__list{
    display: flex;
    list-style: none;
  }

  .nav__item {
    margin: 0 17px;
    line-height: 46px;
  }

  .nav__link {
    color: #fff;
    font-family: $font-medium;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $color-accent;
    }
  }


  @media screen and (max-width: $media-desktop-sm) {
    display: none;
  }
}