.nav.nav_main {

  .nav__list{
    display: flex;
    list-style: none;
  }

  .nav__item {
    margin: 0 18px;
    line-height: 46px;
  }

  .nav__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $color-sky;
    }
  }

}