section.claim
    .claim__icon-wrap
        img.claim__icon(src='images/content/claim-icon.png')
    .claim__content
        h2.claim__title Claim Your Super Annuation
        p.claim__text <strong>Annuacion only charges 12% of the super annuation return.</strong> Superannuation is an employer contribution (usually 9.5% of your salary) that is put aside into a superannuation fund to be accessed during retirement.